<footer class="mt-0 py-1 text-muted text-center text-small text-bg-info">
    <div class="container text-center my-auto">
        <small>
            Desenvolvido por Mateus Ryu Yamaguchi (<date>{{ ON_AIR.YEAR }} - {{ OFF_AIR.YEAR }}</date>)
        </small>
    </div>
</footer>