<footer class="py-2 text-center text-small bg-secondary text-light">
    <div class="container text-center">
        <small>
            Desenvolvido por Mateus Ryu Yamaguchi (<date>{{ ON_AIR.YEAR }} - {{ OFF_AIR.YEAR }}</date>)
        </small>
    </div>
</footer>