<p>
    Obrigado por se cadastrar em nosso site! Para validar a sua conta, 
    clique no link <a href="{{confirmLink}}">&nbsp;aqui!</a>
    <br>
    Caso não esteja vendo o botão, acesse o seguinte endereço: {{confirmLink}}
</p>
<p>
    Caso você não tenha realizado nenhum cadastro em nosso site, desconsidere este e-mail 
    e não clique em nada.
</p>