{% extends "templates/minimalistic.html.twig" %}
{% block content %}
    <section class="card border-secundary mb-3 mt-4" style="max-width: 80vw; margin: auto;">
    <h3 class="card-header">Parabéns!</h3>
    <div class="card-body">
        <h2 class="card-title">
            Conta criada com sucesso!
        </h2>
        <p class="card-text">
            Obrigado por se cadastrar em nosso site! Foi enviado uma mensagem para o seu 
            endereço de e-mail contendo as instruções para autenticar a sua conta. Caso 
            não encontre, também
            verifique se ele não está na sua pasta de <span style="font-style: italic;">span</span>.
        </p>
    </div>
</section>
{% endblock %}
